  <footer>
    <div class="contact">
      <p>Twitter:&nbsp;<a href="https://twitter.com/<%= page[:twitter_name] %>">@<%= page[:twitter_name] %></a></p>
    </div>
    <div class="contact">
      <p>&copy; 2017<span> <%= page[:site_author] %></span>
      </p>
    </div>
  </footer>
  </body>
</html>
